#landing {
  width: 100%;
  /* height: 900px; */
  height: 62.5vw;
  color: var(--white);
}

#landing #menu {
  /* padding: 0 140px; */
  padding: 0 9.722vw;
  width: 100%;
  /* height: 121px; */
  height: 8.403vw;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: var(--yellow-dark);
}

#landing #menu > * {
  /* width: 100%; */
  display: flex;
}

#landing #menu #logo {
  justify-content: center;
  align-items: center;
  font-size: var(--text-small);
}

#landing #menu #logo img {
  /* width: 64px; */
  width: 4.444vw;
  /* height: 64px; */
  height: 4.444vw;
}

#landing #menu #logo .logo-heading .heading {
  font-weight: var(--weight-bold);
}

#landing #menu #logo .logo-heading .heading-sub {
  font-weight: var(--weight-regular);
  /* font-size: 12px; */
  font-size: 0.833vw;
}

#landing #navigation {
  /* font-size: 29px; */
  font-size: 2.014vw;
  font-weight: var(--weight-bold);
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing #navigation li {
  /* margin: 0 20px; */
  margin: 0 1.389vw;
}

#landing #search {
  /* width: 274px; */
  width: 19.028vw;
  height: 100%;
  /* filter: drop-shadow(7.512px 14.127px 9px rgba(74,74,74,0.1)); */
  filter: drop-shadow(0.522vw 0.981vw 0.625vw rgba(74,74,74,0.1));
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing #search input {
  border: none;
  /* padding: 0 20px; */
  padding: 0 1.389vw;
  width: 100%;
  /* height: 51px; */
  height: 3.542vw;
  background: var(--yellow-bg);
}

#landing #search input::placeholder {
  color: var(--white);
  font-size: var(--btn);
  letter-spacing: 0;
  font-weight: 400;
}

#landing #search button {
  border: none;
  /* width: 71px; */
  width: 4.931vw;
  /* height: 51px; */
  height: 3.542vw;
  background: var(--turquoise);
}

#landing #search button img {
  /* border-radius: 7px; */
  border-radius: 0.486vw;
  /* width: 23px; */
  width: 1.597vw;
  /* height: 23px; */
  height: 1.597vw;
  color: var(--white);
}

#landing #main {
  /* padding: 0 140px; */
  padding: 0 9.722vw;
  width: 100%;
  /* height: 779px; */
  height: 54.097vw;
  background: var(--yellow-bg);
  display: flex;
  justify-content: space-between;
}

#landing #main .text-box {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#landing #main .text-box h1 {
  font-size: var(--h1);
  /* letter-spacing: 1px; */
  letter-spacing: 0.069vw;
  font-weight: var(--weight-bolder);
}

#landing #main .text-box p {
  /* margin: 50px 0; */
  margin: 3.472vw 0;
  font-size: var(--text);
  letter-spacing: 0;
  font-weight: var(--weight-regular);
}

#landing #main .text-box .btn-container {
  display: flex;
}

#landing #main .text-box .btn-container button,
#landing #main .text-box .btn-container a {
  /* border-radius: 7px; */
  border-radius: 0.486vw;
  /* width: 182px; */
  width: 12.639vw;
  /* height: 69px; */
  height: 4.792vw;
  font-size: var(--btn);
  font-weight: var(--weight-bolder);
  color: var(--white);
}

#landing #main .text-box .btn-container button.contact {
  /* margin-right: 35px; */
  margin-right: 2.431vw;
  border: none;
  background: var(--turquoise);
}

#landing #main .text-box .btn-container a.blank {
  /* border: 3px solid var(--white); */
  border: 0.208vw solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--yellow-bg);
}

#landing #main .img-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing #main .img-container img {
  width: 29.097vw;
  height: 41.944vw;
}