#page2 {
  /* padding: 0 140px; */
  padding: 0 9.722vw;
  width: 100%;
  /* height: 1017px; */
  height: 70.625vw;
  background: var(--yellow-bg);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #page2 * {
  border: 1px solid black;
} */

#page2 .text-box {
  text-align: center;
}

#page2 .text-box h2 {
  font-size: var(--h2-big);
  font-weight: var(--weight-boldest);
}

#page2 .text-box p {
  /* margin-bottom: 100px; */
  margin-bottom: 6.944vw;
  /* width: 746px; */
  width: 51.806vw;
  font-size: var(--text-big);
  font-weight: var(--weight-regular);
}

#page2 .card-container {
  display: flex;
}

#page2 .card-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#page2 .card-container .card:nth-child(2) {
  /* margin: 0 65px; */
  margin: 0 4.514vw;
}

#page2 .card-container .card img {
  /* margin-bottom: 40px; */
  margin-bottom: 2.778vw;
  /* width: 342px; */
  width: 23.75vw;
  /* height: 353px; */
  height: 24.514vw;
}

#page2 .card-container .card h3 {
  font-size: var(--h3);
  font-weight: var(--weight-bolder);
}

#page2 .card-container .card p {
  font-size: var(--text-card);
  font-weight: var(--weight-regular);
}