#page3 {
  /* padding: 0 140px; */
  padding: 0 9.722vw;
  width: 100%;
  /* height: 794px; */
  height: 55.139vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

#page3 .text-box {
  color: var(--black);
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}

#page3 .text-box h2 {
  font-size: var(--h2);
  font-weight: var(--weight-bolder);
}

#page3 .text-box p {
  margin: 50px 0;
  font-size: var(--text);
  letter-spacing: 0;
  font-weight: var(--weight-regular);
}

#page3 .text-box a {
  /* border-radius: 7px; */
  border-radius: 0.486vw;
  /* width: 182px; */
  width: 12.639vw;
  /* height: 69px; */
  height: 4.792vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--yellow-bg);
  font-size: var(--btn);
  font-weight: var(--weight-bolder);
  color: var(--white);
}

#page3 .img-container {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page3 .img-container .play-icon {
  border: none;
  /* border-radius: 42px; */
  border-radius: 2.917vw;
  /* width: 84px; */
  width: 5.833vw;
  /* height: 84px; */
  height: 5.833vw;
  position: absolute;
  z-index: 2;
}

#page3 .img-container .filter {
  /* width: 506px; */
  width: 35.139vw;
  /* height: 480px; */
  height: 33.333vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(218, 172, 0, 0.5686274509803921);
  z-index: 1;
}

#page3 .img-container .image {
  /* width: 506px; */
  width: 35.139vw;
  /* height: 480px; */
  height: 33.333vw;
  z-index: 1;
}

#page3 .img-container .design-box {
  /* width: 252px; */
  width: 17.5vw;
  /* height: 206px; */
  height: 14.306vw;
  background: var(--yellow-bg);
  position: absolute;
  left: 0;
  /* bottom: 117px; */
  bottom: 8.125vw;
  z-index: 0;
}