#page1 {
  padding: 0 140px;
  width: 100%;
  height: 794px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page1 .text-box {
  color: var(--black);
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page1 .text-box h2 {
  font-size: var(--h2);
  font-weight: var(--weight-bolder);
}

#page1 .text-box p {
  margin: 50px 0;
  font-size: var(--text);
  letter-spacing: 0;
  font-weight: var(--weight-regular);
}

#page1 .text-box a {
  border-radius: 7px;
  width: 182px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--yellow-bg);
  font-size: var(--btn);
  font-weight: var(--weight-bolder);
  color: var(--white);
}

#page1 .img-container {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page1 .img-container .play-icon {
  border: none;
  border-radius: 42px;
  width: 84px;
  height: 84px;
  position: absolute;
  z-index: 1;
}

#page1 .img-container .filter {
  width: 506px;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(218, 172, 0, 0.5686274509803921);
  z-index: 1;
}

#page1 .img-container .image {
  width: 506px;
  height: 480px;
  z-index: 1;
}

#page1 .img-container .design-box {
  width: 252px;
  height: 206px;
  background: var(--yellow-bg);
  position: absolute;
  left: 0;
  bottom: 117px;
  z-index: 0;
}