#page4 {
  /* padding: 0 140px; */
  padding: 0 9.722vw;
  width: 100%;
  /* height: 1017px; */
  height: 70.625vw;
  background: var(--yellow-bg);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page4 .text-box {
  text-align: center;
}

#page4 .text-box h2 {
  font-size: var(--h2-big);
  font-weight: var(--weight-boldest);
}

#page4 .text-box p {
  /* margin-bottom: 100px; */
  margin-bottom: 6.944vw;
  /* width: 746px; */
  width: 51.806vw;
  font-size: var(--text-big);
  font-weight: var(--weight-regular);
}

#page4 .card-container {
  display: flex;
}

#page4 .card-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#page4 .card-container .card:nth-child(2) {
  /* margin: 0 65px; */
  margin: 0 4.514vw;
}

#page4 .card-container .card img {
  /* width: 342px; */
  width: 23.75vw;
  /* height: 353px; */
  height: 24.514vw;
}

#page4 .card-container .card .price {
  /* margin: 40px 0 30px; */
  margin: 2.778vw 0 2.083vw;
  display: flex;
  font-size: var(--text-price);
  font-weight: var(--weight-bolder);
}

#page4 .card-container .card .price .price-deleted {
  /* margin-right: 24px; */
  margin-right: 1.667vw;
  /* text-decoration: line-through; */
  position: relative;
}

#page4 .card-container .card .price .price-deleted .delete {
  border: none;
  /* width: 109px; */
  width: 7.569vw;
  /* height: 4px; */
  height: 0.278vw;
  background: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#page4 .card-container .card .buy {
  border: none;
  /* width: 199px; */
  width: 13.819vw;
  /* height: 60px; */
  height: 4.167vw;
  /* border-radius: 30px; */
  border-radius: 2.083vw;
  background: var(--turquoise);
  font-size: var(--btn);
  font-weight: var(--weight-bolder);
  text-align: center;
  color: white;
  cursor: pointer;
}