#posts {
  padding: 0 140px;
  width: 100%;
  height: 1176px;
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #posts * {
  border: 1px solid black;
} */

#posts .text-box {
  text-align: center;
}

#posts .text-box h2 {
  font-size: var(--h2-big);
  font-weight: var(--weight-boldest);
}

#posts .text-box p {
  margin-bottom: 100px;
  width: 746px;
  font-size: var(--text-big);
  font-weight: var(--weight-regular);
}

#posts .card-container {
  display: flex;
}

#posts .card-container .card {
  border: 2px solid #d6d6d6;
  border-top: none;
  width: 361px;
  height: 632px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 1.2;
}

#posts .card-container .card:nth-child(2) {
  margin: 0 40px;
  border: none;
  box-shadow: 5.634px 10.595px 25.5px rgba(74,74,74,0.1);
}

#posts .card-container .card .card-image {
  /* margin-bottom: 30px; */
  width: 361px;
  height: 351px;
}

#posts .card-container .card .card-image img {
  width: 100%;
  /* height: 351px; */
  height: 100%;
}

#posts .card-container .card .card-textbox {
  padding: 25px;
}

#posts .card-container  .card-textbox .heading h3 {
  font-size: calc(var(--h3-small) - 4px);
  font-weight: var(--weight-bolder);
}

#posts .card-container .card .card-textbox .heading p {
  margin-top: 15px;
  font-size: var(--text-small);
  font-weight: var(--weight-regular);
  color: var(--turquoise);
}

#posts .card-container .card .card-textbox p:not(#posts .card-container .card .card-textbox .heading p) {
  margin: 25px 0;
  font-size: var(--text-small);
  font-weight: var(--weight-regular);
}

#posts .card-container .card .card-textbox .more {
  border: none;
  background: none;
  font-size: var(--btn);
  font-weight: var(--weight-bold);
  color: var(--turquoise);
}

#posts .card-container .card .card-textbox .more::after {
  content: '+';
}