#profile {
  padding: 0 140px;
  width: 100%;
  height: 1077px;
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile .text-box {
  text-align: center;
}

#profile .text-box h2 {
  font-size: var(--h2-big);
  font-weight: var(--weight-boldest);
}

#profile .text-box p {
  margin-bottom: 100px;
  width: 746px;
  font-size: var(--text-big);
  font-weight: var(--weight-regular);
}

#profile .card-container {
  display: flex;
}

#profile .card-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#profile .card-container .card:nth-child(2) {
  margin: 0 40px;
}

/* #profile .card-container .card img {
  margin-bottom: 40px;
  width: 342px;
  height: 353px;
} */

#profile .card-container .card h3 {
  font-size: var(--h3-small);
  font-weight: var(--weight-bolder);
}

#profile .card-container .card p {
  margin: 20px 0 30px;
  font-size: var(--text-card);
  font-weight: var(--weight-regular);
}

#profile .card-container .card .sns-container {
  display: flex;
  width: 184px;
  height: 35px;
}

#profile .card-container .card .sns-container li {
  margin-right: 15px;
  border-radius: 50%;
  background: var(--yellow-dark);
}

#profile .card-container .card .sns-container li img {
  border-radius: 50%;
  /* background: var(--yellow-dark); */
  color: var(--yellow-dark);
  mix-blend-mode: normal;
  width: 35px;
  height: 35px;
}
