#profile {
  /* padding: 0 140px; */
  padding: 0 9.722vw;
  width: 100%;
  /* height: 1077px; */
  height: 74.792vw;
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile .text-box {
  text-align: center;
}

#profile .text-box h2 {
  font-size: var(--h2-big);
  font-weight: var(--weight-boldest);
}

#profile .text-box p {
  /* margin-bottom: 100px; */
  margin-bottom: 6.944vw;
  /* width: 746px; */
  width: 51.806vw;
  font-size: var(--text-big);
  font-weight: var(--weight-regular);
}

#profile .card-container {
  display: flex;
}

#profile .card-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#profile .card-container .card:nth-child(2) {
  /* margin: 0 40px; */
  margin: 0 2.778vw;
}

#profile .card-container .card img {
  /* margin-bottom: 40px; */
  /* width: 361px;
  height: 351px; */
  margin-bottom: 2.778vw;
  width: 25.069vw;
  height: 24.375vw;
}

#profile .card-container .card h3 {
  font-size: var(--h3-small);
  font-weight: var(--weight-bolder);
}

#profile .card-container .card p {
  /* margin: 20px 0 30px; */
  margin: 1.389vw 0 2.083vw;
  font-size: var(--text-card);
  font-weight: var(--weight-regular);
}

#profile .card-container .card .sns-container {
  display: flex;
  /* width: 184px; */
  width: 12.778vw;
  /* height: 35px; */
  height: 2.431vw;
}

#profile .card-container .card .sns-container li {
  /* margin-right: 15px; */
  margin-right: 1.042vw;
  border-radius: 50%;
  background: var(--yellow-dark);
}

#profile .card-container .card .sns-container li img {
  border-radius: 50%;
  /* background: var(--yellow-dark); */
  color: var(--yellow-dark);
  mix-blend-mode: normal;
  /* width: 35px; */
  width: 2.431vw;
  /* height: 35px; */
  height: 2.431vw;
}
