.footer {
  padding: 0 4% 0 6%;
  width: 100%;
  min-height: 100vh;
  background: var(--bg-black);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer footer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.footer footer h3 {
  /* font-size: 2rem; */
  font-size: 2.222vw;
  font-weight: 400;
}

.footer footer p, .footer footer li {
  /* font-size: 1.5rem; */
  font-size: 1.667vw;
  font-weight: 400;
}

.footer footer .introduction {
  /* margin-left: 6%; */
  width: 50%;
  /* height: 21.875rem; */
  height: 24.306vw;
}

.footer footer .introduction p {
  /* margin: 2.5rem 0 2rem; */
  margin: 2.778vw 0 2.222vw;
  /* width: 29.125rem; */
  width: 32.361vw;
}

.footer footer .introduction .icon-container {
  display: flex;
}

.footer footer .introduction .icon-container li {
  /* margin-right: 1rem; */
  margin-right: 1.111vw;
}

.footer footer .introduction .icon-container li img {
  width: 2.917vw;
  height: auto;
}

.footer footer .article-container {
  width: 50%;
  /* height: 21.875rem; */
  height: 24.306vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer footer .article-container article ul {
  /* margin-top: 2.188rem; */
  margin-top: 2.431vw;
}

.footer footer .article-container article ul li {
  /* margin-top: 1.438rem; */
  margin-top: 1.598vw;
}

.footer footer .article-container article ul li:first-child {
  margin-top: 0;
}

.footer footer .article-container article.Services {
  /* margin: 0 2.625rem; */
  margin: 0 2.917vw;
}

.footer a {
  position: absolute;
  /* bottom: 3.125rem; */
  bottom: 3.472vw;
  font-size: var(--p);
}

@media (orientation: portrait) {
  .footer {
    padding: 0;
  }

  .footer * {
    /* border: 1px solid white; */
  }

  .footer footer {
    flex-direction: column;
    justify-content: space-around;
  }

  .footer footer h3 {
    font-size: calc(2.222vw * 3);
    text-align: center;
  }

  .footer footer p, .footer footer li {
    font-size: calc(1.667vw * 2.5);
    text-align: center;
  }

  .footer footer .introduction {
    margin-top: 15%;
    width: 85%;
    height: auto;
    /* height: 100%; */
  }

  .footer footer .introduction p {
    width: 100%;
  }

  .footer footer .article-container {
    /* position: absolute; */
    margin-bottom: 50%;
    width: 85%;
    height: auto;
    /* height: 100%; */
    flex-direction: column;
    align-items: center;
  }

  .footer footer .article-container article {
    width: 100%;
  }

  .footer footer .article-container article ul,
  .footer footer .article-container article ul li {
    margin: 0;
  }

  .footer footer .article-container article h3 {
    padding: 5px;
    border: 1px solid white;
  }

  .footer footer .article-container article ul li {
    display: none;
  }

  .footer footer .article-container article ul.active li {
    padding: 5px;
    display: block;
    border: 1px solid white;
  }

  .footer footer .introduction .icon-container {
    display: flex;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer footer .introduction .icon-container li img {
    width: calc(2.917vw * 2);
  }
}