.footer {
  padding: 0 4% 0 6%;
  width: 100%;
  min-height: 100vh;
  background: var(--bg-black);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer footer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.footer footer h3 {
  /* font-size: 2rem; */
  font-size: 2.222vw;
  font-weight: 400;
}

.footer footer p, .footer footer li {
  /* font-size: 1.5rem; */
  font-size: 1.667vw;
  font-weight: 400;
}

.footer footer .introduction {
  /* margin-left: 6%; */
  width: 50%;
  /* height: 21.875rem; */
  height: 24.306vw;
}

.footer footer .introduction p {
  /* margin: 2.5rem 0 2rem; */
  margin: 2.778vw 0 2.222vw;
  /* width: 29.125rem; */
  width: 32.361vw;
}

.footer footer .introduction .icon-container-horizontal {
  display: flex;
}

.footer footer .introduction .icon-container-horizontal li {
  /* margin-right: 1rem; */
  margin-right: 1.111vw;
}

.footer footer .introduction .icon-container-horizontal li img {
  width: 2.917vw;
  height: auto;
}

.footer footer .article-container {
  width: 50%;
  /* height: 21.875rem; */
  height: 24.306vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer footer .article-container article ul {
  /* margin-top: 2.188rem; */
  margin-top: 2.431vw;
}

.footer footer .article-container article ul li {
  /* margin-top: 1.438rem; */
  margin-top: 1.598vw;
}

.footer footer .article-container article ul li:first-child {
  margin-top: 0;
}

.footer footer .article-container article.Services {
  /* margin: 0 2.625rem; */
  margin: 0 2.917vw;
}

.footer a {
  position: absolute;
  /* bottom: 3.125rem; */
  bottom: 3.472vw;
  font-size: var(--p);
}

.footer .icon-container-vertical {
  display: none;
}

@media (orientation: portrait) {
  .footer {
    padding: 0;
  }

  .footer footer {
    flex-direction: column;
    justify-content: space-around;
  }

  .footer footer h3 {
    font-size: calc(2.222vw * 3);
    text-align: center;
    font-weight: 700;
  }

  .footer footer p, .footer footer li {
    font-size: calc(1.667vw * 2.5);
    text-align: center;
  }

  .footer footer .introduction {
    /* margin-top: 15%; */
    position: absolute;
    top: 10%;
    width: 85%;
    height: auto;
    /* height: 100%; */
  }

  .footer footer .introduction h3 {
    font-size: calc(2.222vw * 3.5);
    font-weight: 700;
  }

  .footer footer .introduction p {
    margin: calc(2.778vw * 1.5) 0 2.222vw;
    text-align: justify;
    width: 100%;
  }

  .footer footer .article-container {
    position: absolute;
    top: 40%;
    width: 85%;
    height: auto;
    /* height: 100%; */
    flex-direction: column;
    align-items: center;
  }

  .footer footer .article-container article {
    width: 100%;
  }

  .footer footer .article-container article ul,
  .footer footer .article-container article ul li {
    margin: 0;
  }

  .footer footer .article-container article h3 {
    padding: 5px;
    border: 1px solid white;
  }

  .footer footer .article-container article h3:hover {
    cursor: pointer;
  }

  .footer footer .article-container article h3::after {
    content: '+';
    color: white;
    position: absolute;
    right: 26px;
  }

  .footer footer .article-container article.active h3::after {
    content: '-';
  }

  .footer footer .article-container article ul li {
    display: none;
  }

  .footer footer .article-container article.active ul li {
    padding: 5px;
    display: block;
    border: 1px solid white;
  }

  .footer footer .introduction .icon-container-horizontal {
    display: none;
  }

  .footer footer .introduction .icon-container-horizontal li img {
    width: calc(2.917vw * 2);
  }

  .footer .icon-container-vertical {
    display: flex;
    position: absolute;
    bottom: 10%;
  }

  .footer .icon-container-vertical li {
    margin-right: calc(1.111vw * 3);
  }

  .footer .icon-container-vertical li img {
    width: calc(2.917vw * 3);
    height: auto;
  }

  @media (min-aspect-ratio: 3/4) {
    .footer footer .introduction {
      top: 5%;
    }

    .footer footer .article-container {
      top: 35%;
    }

    .footer .icon-container-vertical {
      bottom: 6%;
    }

    .footer .icon-container-vertical li {
      margin-right: calc(1.111vw * 1.5);
    }

    .footer .icon-container-vertical li img {
      width: calc(2.917vw * 1.5);
    }

    .footer footer h3 {
      font-size: calc(2.222vw * 2.5);
    }
  
    .footer footer p, .footer footer li {
      font-size: calc(1.667vw * 2.5);
    }
  }

  @media (width: 1024px) and (height: 1366px) {
    .footer footer .introduction {
      top: 5%;
    }

    .footer footer .article-container {
      top: 35%;
    }

    .footer .icon-container-vertical {
      bottom: 6%;
    }

    .footer .icon-container-vertical li {
      margin-right: calc(1.111vw * 1.5);
    }

    .footer .icon-container-vertical li img {
      width: calc(2.917vw * 2);
    }

    .footer footer h3 {
      font-size: calc(2.222vw * 2.5);
    }
  
    .footer footer p, .footer footer li {
      font-size: calc(1.667vw * 2.5);
    }
  }
}