.footer {
  padding: 0 4% 0 6%;
  width: 100%;
  min-height: 100vh;
  background: var(--bg-black);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer footer h3 {
  font-size: 2rem;
  font-weight: 400;
}

.footer footer p, .footer footer li {
  font-size: 1.5rem;
  font-weight: 400;
}

.footer footer .introduction {
  /* margin-left: 6%; */
  width: 50%;
  height: 21.875rem;
}

.footer footer .introduction p {
  margin: 2.5rem 0 2rem;
  width: 29.125rem;
}

.footer footer .introduction .icon-container {
  display: flex;
}

.footer footer .introduction .icon-container li {
  margin-right: 1rem;
}

.footer footer .article-container {
  width: 50%;
  height: 21.875rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer footer .article-container article ul {
  margin-top: 2.188;
}

.footer footer .article-container article ul li {
  margin-top: 1.438rem;
}

.footer footer .article-container article ul li:first-child {
  margin-top: 0;
}

.footer footer .article-container article.Services {
  margin: 0 2.625rem;
}

.footer a {
  position: absolute;
  bottom: 3.125rem;
}