/* landing root, common */
.landing {
  height: max-content;
  position: relative;
  z-index: 2;
}

.landing .bg {
  width: 100%;
  height: 100vh;
  background: url(../bg/bg_pic/background01.png) no-repeat center/cover;
  z-index: 2;
}

.landing div.filter-1 {
  background: var(--bg-yellow);
  mix-blend-mode: multiply;
  /* filter: opacity(0.28) saturate(3); */
  height: 100%;
  z-index: 0;
}

.landing .menu, .landing .menu .menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* landing - menu */
.landing .menu {
  padding: 0.875rem 3.5rem 1.25rem;
  background: var(--bg-navy);
  color: white;
  font-size: bolder;
  position: absolute;
  width: 100%;
  height: 5.313rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .menu .logo, .landing .menu form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .menu .logo {
  cursor: pointer;
  position: absolute;
  left: 3.438rem;
}

.landing .menu .menus {
  margin: 0 auto;
  font-size: 1.563rem;
  font-weight: 400;
}

.landing .menu .menus li {
  padding: 0 2.125rem;
  cursor: pointer;
}

.landing .menu .menus li:last-child {
  margin-right: 0;
}

.landing .menu form {
  position: absolute;
  right: 3.625rem;
}

.landing .menu form input {
  display: none;
  font-size: 1.125rem;
  transition: all 0.5s;
}

.landing .menu form input.active {
  padding: 0.188rem 0.313rem;
  display: inline-block;
}

.landing .menu form button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  width: 1.875rem;
  height: 1.875rem;
}

.landing .menu form button img {
  width: 100%;
  height: 100%;
}

/* landing - header */
.landing .header {
  position: absolute;
  top: 35%;
  left: 3.125rem;
  /* width: 626px; */
  color: white;
  z-index: 0;
}

.landing .header * {
  margin-top: 7%;
}

.landing .header *:first-child {
  margin-top: 0;
}

.landing .header h1 {
  margin-left: 0.5rem;
  font-size: var(--h1);
  text-align: center;
}

.landing .header p {
  width: 37.875rem;
  height: 6.25rem;
}

.landing .header button {
  background: var(--bg-navy);
  border: none;
  border-radius: 2.063rem;
  width: 20.125rem;
  height: 4.063rem;
  color: white;
}

.landing .header button:hover {
  transform: scale(1);
}

.landing .header button:active {
  transform: scale(0.99);
}

.test {
  position: absolute;
  left: 0;
}

.landing .menu .mobile-menu-container {
  display: none;
  position: absolute;
  left: 3.438rem;
  color: white;
  font-size: var(--p);
  width: var(--p);
  height: var(--p);
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (max-width: 1199px) {
  .landing .menu {
    height: calc(5.313rem * 0.85);
  }

  .landing .menu .logo img{
    width: 2.5rem;
    height: 2.5rem;
  }

  .landing .menu .menus {
    padding: 0.875rem 3.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--bg-navy);
    width: 100%;
    height: calc(5.313rem * 5);
    position: absolute;
    top: 5.313rem;
    z-index: 4;
  }
 
  .landing .menu .menus.active {
    display: flex;
  }

  .landing .menu .menus li {
    border: 3px solid white;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .landing .menu .menus li:active {
    transform: scale(0.99);
  }


  .landing .menu .logo {
    left: 50%;
    transform: translateX(-50%);
  }

  .landing .menu .mobile-menu-container {
    display: inline-block;
  }

  .landing .menu .mobile-menu-container:active {
    transform: scale(0.99);
  }

  .landing .header h1 {
    text-align: left;
  }

  .landing .header button {
    width: calc(20.125rem * 0.8);
    height: calc(4.063rem * 0.8);
  }
}

@media (max-width: 899px) {
  .landing .menu {
    height: calc(5.313rem * 0.7);
  }

  .landing .menu .logo img{
    width: 2rem;
    height: 2rem;
  }

  .landing .header p {
    width: calc(37.875rem * 0.85);
    height: calc(6.25rem * 0.85);
  }

  .landing .header button {
    width: calc(20.125rem * 0.6);
    height: calc(4.063rem * 0.6);
  }
}

@media (max-width: 599px) {
  .landing .menu {
    height: calc(5.313rem * 0.55);
  }

  .landing .menu .logo img{
    width: 1.5rem;
    height: 1.5rem;
  }

  .landing .menu .logo h3 {
    font-size: 1rem;
  }

  .landing .menu .mobile-menu-container {
    left: 1.179rem;
  }

  .landing .menu form {
    right: 1.179rem;
  }

  .landing .header {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .landing .header h1, .landing .header p {
    width: 80vw;
    text-align: center;
  }

  .landing .header h1 {
    line-height: 1;
    font-size: calc(var(--h1) * 0.8);
  }

  .landing .header p {
    font-size: calc(var(--p) * 0.85);
  }
}

@media (max-height: 800px) and (min-width: 600px) {
  .landing .header {
    top: 25%;
  }
}

@media (max-height: 499px) and (min-width: 600px) {
  .landing .header * {
    margin-top: 4%;
  }
}

@media (max-height: 360px) and (min-width: 600px) {
  .landing .header * {
    margin-top: 2%;
  }

  .landing .header p {
    height: 3.125rem;
  }
}