/* landing root, common */
.landing {
  height: max-content;
  position: relative;
  z-index: 2;
}

.landing .bg {
  width: 100%;
  height: 100vh;
  background: url(../bg/bg_pic/background01.png) no-repeat center/cover;
  z-index: 2;
}

.landing div.filter-1 {
  background: var(--bg-yellow);
  mix-blend-mode: multiply;
  /* filter: opacity(0.28) saturate(3); */
  height: 100%;
  z-index: 0;
}

.landing .menu, .landing .menu .menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* landing - menu */
.landing .menu {
  padding: 0.875rem 3.5rem 1.25rem;
  background: var(--bg-navy);
  color: white;
  font-size: bolder;
  position: absolute;
  width: 100%;
  height: 5.313rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .menu .logo, .landing .menu form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .menu .logo {
  cursor: pointer;
  position: absolute;
  left: 3.438rem;
}

.landing .menu .menus {
  margin: 0 auto;
  font-size: 1.563rem;
  font-weight: 400;
}

.landing .menu .menus li {
  padding: 0 2.125rem;
  cursor: pointer;
}

.landing .menu .menus li:last-child {
  margin-right: 0;
}

.landing .menu form {
  position: absolute;
  right: 3.625rem;
}

.landing .menu form input {
  display: none;
  font-size: 1.125rem;
  transition: all 0.5s;
}

.landing .menu form input.active {
  padding: 0.188rem 0.313rem;
  display: inline-block;
}

.landing .menu form button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  width: 1.875rem;
  height: 1.875rem;
}

.landing .menu form button img {
  width: 100%;
  height: 100%;
}

/* landing - header */
.landing .header {
  position: absolute;
  top: 35%;
  left: 3.125rem;
  /* width: 626px; */
  color: white;
}

.landing .header * {
  margin-top: 7%;
}

.landing .header *:first-child {
  margin-top: 0;
}

.landing .header h1 {
  margin-left: 0.5rem;
  font-size: 7.813rem;
  font-weight: 700;
  text-align: center;
}

.landing .header p {
  width: 37.875rem;
  height: 6.25rem;
  font-size: 1.875rem;
  font-weight: 400;
}

.landing .header button {
  background: var(--bg-navy);
  border: none;
  border-radius: 2.063rem;
  width: 20.125rem;
  height: 4.063rem;
  font-size: 1.563rem;
  font-weight: 700;
  color: white;
}

.landing .header button:hover {
  transform: scale(1);
}

.landing .header button:active {
  transform: scale(0.99);
}