.page3 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: var(--bg-yellow);
  color: var(--bg-navy);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page3 .contents-container {
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page3 .contents-container .img-container {
  width: 50%;
  text-align: center;
  z-index: 2;
  transition: all 0.3s;
}

.page3 .contents-container .img-container img {
  border-radius: 50%;
}

.page3 .contents-container .title {
  margin-left: 9%;
  width: 50%;
  transition: all 0.3s;
}

.page3 .contents-container .title h2 {
  font-size: 4.688rem;
  font-weight: 700;
}

.page3 .contents-container .title p {
  margin: 4rem 0;
  width: 40.625rem;
  font-size: 1.875rem;
  font-weight: 400;
}

.page3 .contents-container .title button {
  border-radius: 2rem;
  width: 20.125rem;
  height: 4.063rem;
  background: var(--bg-navy);
  font-size: 1.563rem;
  font-weight: 700;
  color: white;
}

.page3 .designs {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 1080px;
  overflow: hidden;
  z-index: 0;
}

.page3 .designs * {
  position: absolute;
}

.page3 .designs .dots:first-child {
  top: 1.25rem;
  left: 36rem;
  transform: rotate(90deg);
}

.page3 .designs .circle:nth-child(2) {
  top: 4.063rem;
  right: 3.25rem;
}

.page3 .designs .zig:nth-child(3) {
  top: 9.5rem;
  left: 8.188rem;
}

.page3 .designs .dots:nth-child(4) {
  bottom: 4.875rem;
  right: 3.125rem;
}

.page3 .designs .circle:last-child {
  bottom: 3.125rem;
  left: 34.313rem;
}

@media (min-width: 1600px) {
  .page3 .contents-container .title {
    margin-left: 12%;
  }
  .page3 .contents-container .img-container {
    padding-right: 3%;
  }
}

@media (max-height: 850px) {
  .page3 .designs .zig:nth-child(3) {
    top: 102px;
  }
}