.menu-introduce {
  padding: 1.875rem 0;
  min-height: 100vh;
  position: relative;
  background: var(--bg-navy);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu-introduce .contents-container {
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu-introduce .contents-container .title {
  text-align: center;
}

.menu-introduce .contents-container .title h2 {
  font-size: 4rem;
}

.menu-introduce .contents-container .title p {
  margin-top: 2.25rem;
  width: 44.813rem;
  font-size: 1.563rem;
}

.menu-introduce .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-introduce .card-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-introduce .card-container .card img {
  border-radius: 50%;
}

.menu-introduce .card-container .card label {
  margin: 1.438rem 0;
  font-size: 1.75rem;
  text-align: center;
}

.menu-introduce .card-container .card p {
  font-size: 1.063rem;
  text-align: center;
  width: 15.375rem;
}

.menu-introduce .card-container .card:nth-child(2) {
  margin: 0 9.03vw;
}

.menu-introduce .designs {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 1080px;
  overflow: hidden;
}

.menu-introduce .designs * {
  position: absolute;
}

.menu-introduce .designs .dots:first-child {
  top: -0.688rem;
  left: 16.25rem;
}

.menu-introduce .designs .circle:nth-child(2) {
  right: -1.875rem;
  top: -1.875rem;
}

.menu-introduce .designs .zig:nth-child(3) {
  left: 6.25rem;
  top: 10.938rem;
}

.menu-introduce .designs .dots:nth-child(4) {
  transform: rotate(90deg);
  top: 22.125rem;
  right: -3.625rem;
}

.menu-introduce .designs .circle:nth-child(5) {
  left: -4.063rem;
  bottom: 4.688rem;
}

.menu-introduce .designs .zig:last-child {
  bottom: 3.438rem;
  right: 0;
}