.page2 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: var(--bg-yellow);
  color: var(--bg-navy);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.page2 .img-container {
  width: 50%;
  text-align: center;
  z-index: 2;
}

.page2 .img-container img {
  border-radius: 50%;
}

.page2 .title {
  width: 50%;
}

.page2 .title h2 {
  font-size: 75px;
  font-weight: 700;
}

.page2 .title p {
  margin: 64px 0;
  width: 650px;
  font-size: 30px;
  font-weight: 400;
}

.page2 .title button {
  border-radius: 32px;
  width: 322px;
  height: 65px;
  background: var(--bg-navy);
  font-size: 25px;
  font-weight: 700;
  color: white;
}

.page2 .designs {
  position: absolute;
  width: 100%;
  height: 100%;
}

.page2 .designs * {
  position: absolute;
}

.page2 .designs .circle{
  border-radius: 102px;
}

.page2 .designs .dots {
  border-radius: 4px;
}

.page2 .designs .dots:first-child {
  top: 25px;
  right: 37px;
}

.page2 .designs .circle:nth-child(2) {
  top: 115px;
  left: 80px;
}

.page2 .designs .zig:nth-child(3) {
  top: 130px;
  left: 50%;
}

.page2 .designs .dots:nth-child(4) {
  bottom: 50px;
  left: 40px;
}

.page2 .designs .circle:last-child {
  right: -45px;
  bottom: 60px;
}