.menu-introduce {
  /* padding: 1.875rem 0; */
  padding: 2.083vw 0;
  min-height: 100vh;
  position: relative;
  background: var(--bg-navy);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu-introduce .contents-container {
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu-introduce .contents-container .title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-introduce .contents-container .title h2 {
  /* font-size: 4rem; */
  font-size: 4.45vw;
  width: max-content;
}

.menu-introduce .contents-container .title p {
  /* margin-top: 2.25rem; */
  margin-top: 2.5vw;
  /* width: 44.813rem; */
  /* font-size: 1.563rem; */
  width: 49.79167vw;
  font-size: 2.431vw;
}

.menu-introduce .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-introduce .card-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-introduce .card-container .card .card-contents-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-introduce .card-container .card img {
  border-radius: 50%;
  width: 17.01389vw;
  height: auto;
}

.menu-introduce .card-container .card .card-contents-container label {
  /* margin: 1.438rem 0; */
  /* font-size: 1.75rem; */
  margin: 1.5972vw 0;
  font-size: 1.94vw;
  text-align: center;
}

.menu-introduce .card-container .card .card-contents-container p {
  /* font-size: 1.063rem; */
  font-size: 1.18056vw;
  text-align: center;
  /* width: 15.375rem; */
  width: 17.083vw;
}

.menu-introduce .card-container .card:nth-child(2) {
  margin: 0 9.03vw;
}

.menu-introduce .designs {
  position: absolute;
  /* min-width: 1440px; */
  width: 100%;
  /* max-width: 1920px; */
  height: 100%;
  /* max-height: 1080px; */
  /* overflow: hidden; */
  z-index: 0;
}

.menu-introduce .designs * {
  position: absolute;
}

.menu-introduce .designs .dots:first-child {
  /* top: -0.688rem; */
  top: -0.76389vw;
  /* left: 16.25rem; */
  left: 18.056vw;
  width: 11.7361vw;
  height: auto;
}

.menu-introduce .designs .circle:nth-child(2) {
  /* right: -1.875rem; */
  right: -2.083vw;
  /* top: -1.875rem; */
  top: -2.083vw;
  width: 12.29167vw;
  height: auto;
}

.menu-introduce .designs .zig:nth-child(3) {
  /* left: 6.25rem; */
  left: 6.945vw;
  /* top: 10.938rem; */
  top: 12.15278vw;
  width: 6.875vw;
  height: auto;
}

.menu-introduce .designs .dots:nth-child(4) {
  transform: rotate(90deg);
  /* top: 22.125rem; */
  top: 24.583vw;
  /* right: -3.625rem; */
  right: -4.0278vw;
  width: 11.7361vw;
  height: auto;
}

.menu-introduce .designs .circle:nth-child(5) {
  /* left: -4.063rem; */
  left: -4.51389vw;
  /* bottom: 4.688rem; */
  bottom: 5.20834vw;
  width: 12.29167vw;
  height: auto;
}

.menu-introduce .designs .zig:last-child {
  /* bottom: 3.438rem; */
  bottom: 3.81945vw;
  right: 0;
  width: 6.875vw;
  height: auto;
}

@media (orientation: landscape) {
  @media (max-height: 399px) {
    .menu-introduce .contents-container .title h2 {
      transform: scale(0.8);
    }

    .menu-introduce .contents-container .title p {
      margin: 1vw 0;
      transform: scale(0.8);
      width: 80vw;
    }

    .menu-introduce .card-container .card .card-contents-container p {
      width: calc(17.083vw * 1.5);
    }

    .menu-introduce .card-container .card:nth-child(2) {
      margin: 0 10px;
    }
  }
}

@media (orientation: portrait) {
  .menu-introduce .contents-container {
    justify-content: center;
  }

  .menu-introduce .contents-container .title h2 {
    font-size: calc(4.45vw * 1.5);
  }

  .menu-introduce .contents-container .title p {
    margin-top: calc(2.5vw * 2);
    font-size: calc(2.43056vw * 1.3);
    width: 80vw;
  }

  .menu-introduce .card-container {
    margin-top: 50px;
    /* margin-left: 50px; */
    width: 80%;
    flex-direction: column;
  }

  .menu-introduce .card-container .card {
    flex-direction: row;
    width: 100%;
  }

  .menu-introduce .card-container .card:nth-child(2) {
    margin: 50px 0;
  }

  .menu-introduce .card-container .card .card-contents-container {
    margin-left: 30px;
    align-items: flex-start;
  }

  .menu-introduce .card-container .card .card-contents-container label {
    font-size: calc(1.94vw * 2.5);
    text-align: left;
  }

  .menu-introduce .card-container .card .card-contents-container p {
    width: 100%;
    font-size: calc(1.18056vw * 2);
    text-align: left;
  }

  .menu-introduce .card-container .card img {
    width: calc(17.01389vw * 1.25);
  }

  .menu-introduce .designs .dots:first-child {
    top: calc(-0.76389vw * 1.5);
    left: calc(18.056vw * 1.5);
    width: calc(11.7361vw * 1.5);
  }

  .menu-introduce .designs .circle:nth-child(2) {
    right: calc(-2.083vw * 1.5);
    top: calc(-2.083vw * 1.5);
    width: calc(12.29167vw * 1.5);
  }

  .menu-introduce .designs .zig:nth-child(3) {
    left: calc(6.945vw * 1.5);
    top: calc(12.15278vw * 1.5);
    width: calc(6.875vw * 1.5);
  }

  .menu-introduce .designs .dots:nth-child(4) {
    transform: rotate(90deg);
    top: calc(24.583vw * 1.5);
    right: calc(-4.0278vw * 1.5);
    width: calc(11.7361vw * 1.5);
  }

  .menu-introduce .designs .circle:nth-child(5) {
    left: calc(-4.51389vw * 1.5);
    bottom: calc(5.20834vw * 1.5);
    width: calc(12.29167vw * 1.5);
  }

  .menu-introduce .designs .zig:last-child {
    bottom: calc(3.81945vw * 1.5);
    width: calc(6.875vw * 1.5);
  }
}
