.profile {
  min-height: 100vh;
  background: url('../bg/bg_pic/background02.png') no-repeat center/cover;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile .filter {
  width: 100%;
  min-height: 100vh;
  background: var(--bg-navy);
  mix-blend-mode: multiply;
  position: absolute;
  z-index: 0;
}

.profile main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile main img {
  border-radius: 50%;
}

.profile main p {
  /* margin: 50px 0; */
  margin: 5% 0;
  width: 65rem;
  font-size: 2.625rem;
  text-align: center;
}

.profile main h3 {
  font-size: 2.813rem;
}