.profile {
  min-height: 100vh;
  background: url('../bg/bg_pic/background02.png') no-repeat center/cover;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile .filter {
  width: 100%;
  min-height: 100vh;
  background: var(--bg-navy);
  mix-blend-mode: multiply;
  position: absolute;
  z-index: 0;
}

.profile main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile main img {
  border-radius: 50%;
  width: 17.222vw;
  height: auto;
}

.profile main p {
  /* margin: 50px 0; */
  margin: 5% 0;
  width: 72.222vw;
  height: auto;
  font-size: 2.917vw;
  text-align: center;
}

.profile main h3 {
  font-size: 3.126vw;
}

@media (orientation: portrait) {
  .profile main img {
    width: calc(17.222vw * 2);
  }

  .profile main p {
    margin: 10% 0;
    width: 72.222vw;
    font-size: calc(2.917vw * 1.8);
  }
  
  .profile main h3 {
    font-size: calc(3.126vw * 2);
  }
}