*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* border: 1px solid black; */
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

:root {
  --bg-yellow: #ffd27e;
  --bg-navy: #21243d;
  --bg-green: #678d7c;
  --bg-filter: #67743d;
  --bg-black: #111111;
  --h1: 7.813rem;
  --p: 1.875rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

section {
  width: 100%;
  max-width: 1920px;
  min-width: 1240px;
  height: 100vh;
}

li, button {
  cursor: pointer;
}

li:hover, button:hover {
  transform: scale(1.05);
}

li:active, button:active {
  transform: scale(1.02);
}

p {
  font-size: var(--p);
  font-weight: 400;
}

h1, h2, h3, button, label {
  font-weight: 700;
}

button {
  font-size: 1.563rem;
}

.designs .circle {
  border-radius: 6.375rem;
}

.designs .dots {
  border-radius: 0.25rem;
}