.statistics {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: var(--bg-navy);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statistics .contents-container {
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.statistics .contents-container .title {
  margin-top: 5.625rem;
  text-align: center;
}

.statistics .contents-container .title h2 {
  font-size: 3.875rem;
  font-weight: 700;
}

.statistics .contents-container .title p {
  margin-top: 2.25rem;
  width: 44.813rem;
  font-size: 1.563rem;
  font-weight: 400;
  text-align: center;
}

.statistics .card-container {
  margin-top: 5.938rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistics .card-container .card {
  border: 0.313rem solid white;
  border-radius: 138px;
  width: 17.125rem;
  height: 17.188rem;
  background: var(--bg-navy);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statistics .card-container .card h3 {
  font-size: 4.688rem;
  font-weight: 700;
  text-align: center;
}

.statistics .card-container .card p {
  font-size: 2.625rem;
  font-weight: 700;
  text-align: center;
  width: 15.375rem;
}

.statistics .card-container .card:nth-child(2) {
  margin: 0 8.125rem;
}

.statistics .designs {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 1080px;
  overflow: hidden;
  z-index: 0;
}

.statistics .designs * {
  position: absolute;
}

.statistics .designs .dots:first-child {
  top: 3.563rem;
  left: 6.125rem;
}

.statistics .designs .circle:nth-child(2) {
  top: 4.875rem;
  right: 5.625rem;
}

.statistics .designs .zig:nth-child(3) {
  top: 14.375rem;
  left: 7rem;
}

.statistics .designs .dots:nth-child(4) {
  bottom: 1.875rem;
  right: 26.875rem;
}

.statistics .designs .circle:nth-child(5) {
  left: 18.313rem;
  bottom: -4.375rem;
}

.statistics .designs .zig:nth-child(6) {
  bottom: 5.75rem;
  right: 4.813rem;
}

@media (min-height: 850px) {
  .statistics .contents-container {
    justify-content: center;
  }
  .statistics .contents-container .title {
    margin-top: 0;
  }
}