*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: 1px solid black;
}

html, body {
  width: 100%;
  height: 100%;
}

:root {
  --bg-yellow: #ffd27d;
  --bg-navy: #21243d;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

section {
  width: 100%;
  height: 100%;
}

.landing .menu, .landing .menu .menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing .menu {
  padding: 17px 56px 20px;
}

.landing .menu .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}