.subscription {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: var(--bg-yellow);
  color: var(--bg-navy);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscription .contents-container {
  margin-top: 162px;
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.subscription header h2 {
  font-size: 4.688rem;
  font-weight: 700;
}

.subscription header p {
  margin: 3.125rem 0 5.313rem;
  width: 55.313rem;
  font-size: 1.875rem;
  font-weight: 400;
  text-align: center;
}

.subscription header form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscription header form .your-email {
  border: none;
  border-radius: 2.063rem;
  padding: 1.375rem 1.875rem;
  width: 41.188rem;
  height: 3.938rem;
  font-size: 1.563rem;
}

.subscription header form button {
  border: none;
  border-radius: 2.063rem;
  width: 13.875rem;
  height: 4.063rem;
  background: var(--bg-navy);
  color: white;
  font-size: 1.563rem;
  font-weight: 700;
  position: absolute;
  right: 0;
}

.subscription .designs {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 1080px;
  overflow: hidden;
  z-index: 0;
}

.subscription .designs * {
  position: absolute;
}

.subscription .designs .dots:first-child {
  transform: rotate(90deg);
  top: 2.813rem;
  left: 10.625rem;
}

.subscription .designs .circle:nth-child(2) {
  top: 1.563rem;
  right: -2.5rem;
}

.subscription .designs .zig:nth-child(3) {
  top: 5rem;
  right: 18.625rem;
}

.subscription .designs .dots:nth-child(4) {
  bottom: 6.25rem;
  right: 6.813rem;
}

.subscription .designs .circle:nth-child(5) {
  bottom: 3.375rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.subscription .designs .zig:last-child {
  left: 7.688rem;
  bottom: 9.938rem;
}

@media (min-height: 850px) {
  .subscription .contents-container {
    margin-top: 0;
    justify-content: center;
  }
}